@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap');
.first{
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: row;
    .first-left-rect{
        width: 70%;
        height: 100%;
        background: #FEEBD6;
        .first-frame{
            display: flex;
            flex-direction: row;
            gap:160px;
            width: 624px;
            height: 28px;
            padding: 46px 917px 1006px 379px;

            .first-frame-text{
                color: #222;
                font-family: Akshar;
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }
    .first-right-rect{
        width: 30%;
        height: 100%;
        background-color: #FFB6B6;
    } 
}