@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Fredoka:wght@300;500&display=swap");

.first {
  .first-square-container {
    height: 1080px;
    display: flex;
    flex-direction: row;
    position: relative;
    .first-content-container {
      padding-left: 69px;
      padding-right: 69px;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;

      .first-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .first-frame {
          display: flex;
          flex-direction: row;
          gap: 160px;
          width: 624px;
          height: 28px;
          margin-top: 46px;
          margin-left: 310px;

          .first-frame-text {
            color: #222;
            font-family: Akshar;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
          }
        }
        .log-out {
          margin-top: 35px;
          margin-left: 804px;
        }
      }

      .first-image-and-text-container {
        margin: 117px 231px 190px 65px;
        display: flex;
        flex-direction: row;

        .first-image {
          display: block;
          width: 689px;
          height: 699px;
        }

        .first-text-container {
          margin-right: 60px;
          .first-text-frame {
            margin-top: 151px;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;

            .first-text1 {
              color: #1b1b1b;
              font-family: Fredoka;
              font-size: 20px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }

            .first-text-frame2 {
              display: flex;
              flex-direction: column;
              align-items: flex-s tart;
              gap: 58px;
              width: 734px;
              height: 248px;
              .first-text2 {
                color: #222;
                font-family: Akshar;
                font-size: 45px;
                width: 737px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
              }

              .first-text3 {
                color: #1b1b1b;
                font-family: Fredoka;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                width: 669px;
                height: auto;
              }
            }
          }
          .first-frame-filter {
            border: 2px solid #000;
            padding: 14px 99px;
            display: inline-flex;
            gap: 10px;
            align-items: flex-start;
            height: 32px;
            flex-shrink: 0;
            margin-top: 84px;
            margin-left: 13px;
            .first-text4 {
              color: #222;
              font-family: Akshar;
              font-size: 28px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: uppercase;
            }
          }
        }
      
      }
    }
  }
  .first-left-rect {
    width: 70%;
    height: 100%;
    background: #feebd6;
  }
  .first-right-rect {
    width: 30%;
    height: 100%;
    background-color: #ffb6b6;
  }
}
@media(max-width:800px){

}