@import url("https://fonts.cdnfonts.com/css/tahoma");

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  z-index: 2;
  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal-content {
    position: absolute;
    left: 785px;
    bottom: 443px;
    border-radius: 14.766px;
    background: #fff;
    box-shadow: 0px 14.76555px 44.29663px 0px rgba(0, 0, 0, 0.1);
    width: 437.154px;
    height: 430.011px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    .calendar-title {
      color: #000;
      font-family: Tahoma;
      font-size: 20.672px;
      margin-top: 31.6px;
      font-weight: 400;
      line-height: 25.53px;
      text-transform: uppercase;
    }

    .calendar-line {
      margin-top: 23px;
      width: 100%;
      border: 1.5px #000;
    }

    .calendar-dates-container{
        margin-top: 13px;
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
  }
}

